body {
    height: 100%;
    padding: 5px;
}



.nav-pills a {
    color: white !important;
}

.list-item {
    background-color: #E3F2FD;
    padding: 10px;
    font-size: 16px;
}

.image-row {
    height: 400px;
    background-color: #2196F3;
    padding:75px;
}

    .image-row div {
        margin: auto;
        vertical-align: middle;
    }

    .image-row img {
        width: 250px;
        height: 250px;
    }
.text-row {
    padding:10px;
    font-size:16px;
    background-color:#E3F2FD;
}

.active {
    background-color:white !important;
}